@charset "utf-8";
@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald-Regular.otf') format('truetype');
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0
}

table{
	border-collapse:collapse;
	border-spacing:0
}

img{
	border:0
}

address,caption,cite,code,dfn,em,th,var{
	font-style:normal;
	font-weight:normal
}

/****************************** ALL CSS *****************************/

.hide{
    display: none;
}

ol,ul{
	list-style:none
}

caption,th{
	text-align:left
}

h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal
}

body{
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:13px;
}

.row{
	padding-bottom: 40px;
	border-bottom: 1px solid #143f57;
}

.color_h1{
	color: #8dc63f;
}

.right {
	float: right;
}

.left {
	float: left;
}

.seperate {
	border: 0;
	border-top: 1px;
	border-style: solid;
	border-color: #e1e8ed;
}

.media-heading {
	font-weight: bold;
}


/****************************** BODY CSS ***************************/
.left-body {
    padding: 0px;
}

.app-list {
    margin-top: 15px;
}

.app-list h1{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.app-list .row,.app-list .row div{
    border: 0;
}

.app-list .row div .thumbnail img{
    margin-left: 0px;
}

.main-body {
    padding-left: 30px;
}

.app-list .row div .thumbnail .caption h3{
    font-weight: bold;
}

.app-list .row div .thumbnail .caption p .fa{
    color: #fed559;
}

.app-list .row div .thumbnail .caption p{
    margin-top: 10px;
}

.app-list .row div .thumbnail .caption{
    padding: 0;
    margin-top: 14px;
}

.suggested-app .media a img {
    width: 50px;
    height: 50px;
}

.category-list {
	border: 1px;
	border-style: solid;
	border-color: #e1e8ed;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-bottom: 5px;
	margin-top: 15px;
}

.category-list .seperate {
	margin: -1px 30px -1px 30px;
}

.category-list .list-group-item {
	border: 0;
}

.category-list h1{
	border-left: 5px solid #8dc63f;
	padding: 4px 0px 4px 27px;
	margin-top: 29px;
	margin-bottom: 29px;
	font-family: Oswald;
	font-weight: lighter;
	font-size: 16px;
}

.category-list.category a{
	padding: 15px 30px 15px 30px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: white;
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	display: block;
}

.category-list.suggested-app .media{
	margin: 11px 30px;
}

.category-list.suggested-app .media-body{
	white-space: nowrap;
	text-overflow: ellipsis;
}

.category-list li.active{
	background-color: #e1e8ed;
	text-decoration: none;
}

.category-list li:hover{
        cursor: pointer;
	color: #8dc63f;
	text-decoration: none;
}

.top-body {
	height: 76px;
}

.top-body div{
	margin-top: 18px;
}

.top-body .select-device a {
	border: 1px solid #8dc63f;
	color: #8dc63f;
	background-color: white;
	padding: 10px 37px 10px 36px;
	display: inline-block;
	float: left;
	font-size: 13px;
}

.top-body .select-device a.active{
	color: white;
	background-color: #8dc63f;
}
.top-body .select-device a:hover {
	text-decoration: none;
	color: #304f06;
}

.top-body .select-device a.mobile{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-right: 0;
}

.top-body .select-device a.tablet{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 0;
}

.device-name {
	font-family: oswald;
	font-size: 24px;
}

/***************************** HEADER CSS **************************/

#header{
		background:#181818;
}

body {
    min-width: 399px;
}

.right-header button {
	border: 0;
	border-right: 1px;
	border-style: solid;
	border-color: #212121;
}

.right-header a, .right-header button {
	color: #a5adb2;
}

.right-header.right {
    margin-top: 12px;
}

.logofl{
	vertical-align: middle;
}

.logofl a:hover, .right-header a:hover{
	text-decoration: none;
}

.logofl a.menu:hover, .logofl a.selected{
	background: #62b23f;
}

.logofl a.menu{
	color: white;
	padding: 15px 20px 15px 20px;
}

.logofl a.logo{
	padding: 9px 20px 9px 20px;
}

.logofl a.menu, .logofl a.logo {
	margin:0;
	float: left;
}


.logofl i{
	font-size: 17px;
	padding-right: 6px;
}

/******************************** FOOTER CSS ***************************************/

#footer-text{
	padding-top: 25px;
	text-align: center;
	color: #999999;
	font-size: 12px;
}

#footer-text a{
	margin-right: 5px;
}

#footer-text .wide{
	border-style: solid;
	border-color: #e1e8ed;
	margin-bottom: 15px;
}

.sponsor div a{
	border: 0;
	margin: 0px;
}

.sponsor div{
	border: 0;
	margin: 0px;
        min-height: 100px;
}


.clear{clear:both}

/************************** detail css *****************************/
.appbanner {
    background-color: white;
    height: 20%;
}

.appbanner .container .appdetail {
    margin-top: 40px;
    margin-bottom: 45px;
}

.appbanner .container .appdetail.right {
    padding-top: 20px;
    text-align: right;
}

.appbanner .container .media .media-heading{
    margin-top: 22px;
    font-size: 19px;
    font-weight: bold;
}

.appbanner .container .media .apptype{
    font-weight: bold;
    margin-top: 15px;
}

.appbanner .container .media .apprate{
    margin-top: 15px;
    margin-bottom:  15px;
}
.appbanner .container .media .apprate i{
    color: #fed559;
}

.appbanner .container .media .install_app{
    padding: 15px 28px 15px 28px;
    background-color: #62b23f;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-size: 12px;
}

.appbanner .container .media a{
    margin-right: 22px;
}